<div class="flex justify-center mt-32 flex-col">
    <div>
        <div class="space-y-6">
        <p class="text-[48px] flex justify-center font-semibold">What can I help with?</p>
        
        </div> 
        <div class="flex justify-center w-full place-items-center">
            <div class="border-2 border-[#33363F] mt-8 rounded-sm w-3/4 p-3 flex space-x-2 ">
                <textarea rows="5"  cols="1"   placeholder="Saisissez votre texte ici..." class=" w-full h-16  placeholder:text-black placeholder:text-lg"  style="resize: none;"></textarea>        
                <img  src="assets/images/send.png" alt="icon" class="w-14 h-14  bg-[#C5198D] p-3 rounded-lg">  
       
                
            </div>  
        </div>
     
    </div>






</div>

<div class="space-y-4">
  <div 
    *ngFor="let message of messages" 
    class="flex items-center space-x-4"
  >
    <div 
      class="flex flex-col space-y-1"
      [ngClass]="{'ml-auto text-right': message.sender === 'user', 'mr-auto text-left': message.sender === 'ai'}"
    >
      <p 
        class="px-4 py-2 rounded-lg text-sm"
        [ngClass]="{'bg-blue-100 text-black': message.sender === 'ai', 'bg-gray-200 text-black': message.sender === 'user'}"
      >
        {{ message.text }}
      </p>
      <span class="text-xs text-gray-500">{{ message.timestamp }}</span>
    </div>
  </div>
</div>


