<div class="flex justify-center mt-28 flex-col">
    <div>
        <div class="space-y-6">
        <p class="text-[48px] flex justify-center font-semibold">Good morning,Ayoub</p>
        <p class="text-[#C5198D] text-[24px] flex justify-center font-medium">Choose your AI Assistant</p>
        <div class="flex justify-center space-x-2">
            <button class="p-2 text-lg">Free plan</button>
            <button class="p-2 text-lg rounded-lg text-white bg-[#C5198D]" >Upgrade now</button>
        </div>
        <div routerLink="/aichat" class="flex justify-center space-x-4 cursor-pointer">
            <div class="border-black border-2 p-2.5 flex space-x-3 rounded-lg mt-14">    
                    <img src="assets/images/chat2.png" alt="icon" class="w-5 h-5">
                    <span> AI Chat Security</span>           
            </div>

            <div routerLink="/image" class="border-black border-2 p-2.5 flex space-x-3 rounded-lg mt-14 cursor-pointer">    
                <img src="assets/images/Image2.png" alt="icon" class="w-5 h-5">
                <span> AI image generator</span>           
            </div>

            <div routerLink="/graph" class="border-black border-2 p-2.5 flex space-x-3 rounded-lg mt-14 cursor-pointer">    
                <img src="assets/images/check2.png" alt="icon" class="w-5 h-5">
                <span> Check vulnerability</span>           
            </div>
       

        </div>

        <div>

        </div>
        </div> 



    </div>



    <div class=" px-32 flex flex-col justify-center">
        <div class=" ">
            <div class="flex justify-between">
                <p class="text-xl">History</p>
                <div class=" flex place-items-center  space-x-3">
                    <p class="text-[#C5198D] text-lg">View all</p>
                    <img src="assets/images/angle-right.png" alt="icon" class="w-4 h-4 r">
                </div>
            </div>  
            
            <div class=" flex justify-between mt-12 ">
                <div class="border-l-2 px-2 border-[#C5198D] flex flex-col justify-between space-y-4 w-1/3">
                    <p class="text-2xl font-medium">Best Practices for Password Security</p>
                    <p class="text-sm">30 minutes ago</p>
                </div>

                <div class="border-l-2 px-2 border-[#C5198D] flex flex-col justify-between space-y-4 w-1/3">
                    <p class="text-2xl font-medium">CAccess Management and Permissions</p>
                    <p class="text-sm">1 day ago</p>
                </div>

                <div class="border-l-2 px-2 border-[#C5198D] flex flex-col justify-between space-y-4 w-1/3">
                    <p class="text-2xl font-medium">Security Audits and Assessments</p>
                    <p class="text-sm">2 day ago</p>
                </div>

            </div>
            
        </div>


        
    </div>

</div>
